.category-store-container {
  .ant-table-wrapper {
    zoom: 1;
    max-height: 800px;
    overflow: auto;
  }
}
.card-header {
  border-bottom: none;
}
.header-page-container {
  display: flex;
}
.edit-icon {
  color: #1890ff;
}
