.order-container {
  .ant-table-thead {
    font-size: 30px;
  }
  .ant-table-tbody {
    font-size: 25px;
  }
  .ant-table-row {
    border-radius: 100px;
  }
  .ant-table-wrapper {
    max-height: 550px;
    overflow: auto;
  }
}
