.header-container {
    background: #343a40;
    padding: 0 30px;
    .user-icon {
        font-size: 24px;
        color: white;
        margin: 15px;
        float: right;
        cursor: pointer;
    }
}
