.card-header {
  border-bottom: none;
}
.header-page-container {
  display: flex;
  .create-btn {
    margin-right: 60%;
  }
}
.edit-icon {
  color: #1890ff;
}
.pagination-container {
  float: right;
  margin-top: 20px;
}
